.mainclass {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Sans-Serif;
  font-size: 75%;


}

.title {
  text-align: center;
  font-weight: 900;
  font-size: 175%;
  font-family: Arial;
  line-height: 300%;
  margin-bottom: 25px;
}

img {
  width: 100%;
  height: 175px;
}

.background {
  background-color: #87d8ec;
}

div.imageWrap {
  width: 175px;
}

div.tile {
  background-color: #87d8ec;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  flex-grow, flex-shrink, flex-basis*/
  flex: 0 0 25%
}
