.mainclass {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
/*  padding: 5px;
  flex-grow: 1;*/
  justify-content: center;
/*  align-items: center;
  text-align: center;*/
}

.title {
  text-align: center;
}

img {
  width: 100%;
}

.background {
  background-color: #87d8ec;
}

div.imageWrap {
  width: 200px;
}

div.tile {
  background-color: #87d8ec;
  width: 250px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 25%
}